	<div class="slider movie-items">
		<div class="container">
			<div class="row">
				<h1 class="home-h1">Популярные</h1>
				<div class="slick-multiItemSlider">
				 	{{#each popular}}
					<div class="movie-item">
						<a href="/movie/{{this.url}}">
						<div class="mv-img">
							<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{this.poster_path}}" alt="{{this.title}}" width="285" height="437" class="lazyload">
						</div>
						<div class="title-in">
							{{!-- <div class="cate">
								<span class="green"><a href="#">comedy</a></span>
							</div> --}}
							<h6>{{this.title}}</h6>
							<p><i class="ion-android-star"></i><span> {{this.vote_average}} </span> /10</p>
						</div>
						</a>
					</div>
        {{/each}}
				</div>
			</div>
		</div>
	</div>


	<div id="page-single" class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Найдено <span>{{totalMovies}} фильмов</span></p>
							{{!-- <div class='sort-by'>

									<label>Сортировать:</label>
														<select>
																<option value="rating">Рейтинг По убыванию</option>
																<option value="rating">Рейтинг По возрастанию</option>
																<option value="date">Дата выпуска По убыванию</option>
																<option value="date">Дата выпуска По возрастанию</option>
															</select>
							</div> --}}
				</div>
				<div class="flex-wrap-movielist">
        {{#each movies}}
            <div class="movie-item-style-2 movie-item-style-1">
	            			<a href="/movie/{{this.url}}">
																	<img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{this.poster_path}}" alt="{{this.title}}" class="lazyload">
	            			<div class="mv-item-infor">
	            				<h6>{{this.title}}</h6>
	            				<p class="rate"><i class="ion-android-star"></i><span>{{this.vote_average}}</span> /10</p>
	            			</div>
																</a>
	            		</div>
	            						
        {{/each}}		
				</div>		
				<div class="topbar-filter">
					
				<div class="pagination2">
    <span>Страница {{page}} из {{totalPages}}:</span>
    {{#gt page 1}}
    <a href="?page={{subtract page 1}}&limit={{limit}}{{#if selectedGenreId}}&genreId={{selectedGenreId}}{{/if}}#page-single">
        <i class="ion-arrow-left-b"></i> Назад 
    </a>
{{/gt}}

{{!-- Determine the start and end page for pagination --}}
{{!-- Start page: current page minus 4, but not less than 1 --}}
{{#range (max 1 (subtract page 3)) (min totalPages (add (max 1 (subtract page 3)) 6))}}
    <a class="{{#ifEquals this ../page}}active{{/ifEquals}}" href="?page={{this}}&limit={{../limit}}{{#if ../selectedGenreId}}&genreId={{../selectedGenreId}}{{/if}}#page-single">
        {{this}}
    </a>
{{/range}}

{{#lt page totalPages}}
    <a href="?page={{add page 1}}&limit={{limit}}{{#if selectedGenreId}}&genreId={{selectedGenreId}}{{/if}}#page-single">
        Вперед <i class="ion-arrow-right-b"></i>
    </a>
{{/lt}}

</div>


					
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Категории</h4>

							<ul class="genre-filter">
										{{#each genres}}
												<li>
														<a href="/?genreId={{this.genreId}}#page-single" 
																	class="{{#ifEquals this.genreId ../selectedGenreId}}active{{/ifEquals}}">
																	{{this.name}}
														</a>
												</li>
										{{/each}}
										<li>
												<a href="/#page-single" class="{{#unless selectedGenreId}}active{{/unless}}">
														Все Категории
												</a>
										</li>
								</ul>


						{{!-- <form class="form-style-1" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Movie name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres & Subgenres</label>
									<div class="group-ip">
										<select
											name="skills" multiple="" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
											<option value="Action1">Action 1</option>
					                        <option value="Action2">Action 2</option>
					                        <option value="Action3">Action 3</option>
					                        <option value="Action4">Action 4</option>
					                        <option value="Action5">Action 5</option>
										</select>
									</div>	
								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>
									<select>
									  <option value="range">-- Select the rating range below --</option>
									  <option value="saab">-- Select the rating range below --</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<select>
											  <option value="range">From</option>
											  <option value="number">10</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
											  <option value="range">To</option>
											  <option value="number">20</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form> --}}
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="" class="lazyload">
					</div>
					<div class="sb-facebook sb-it">
						<h4 class="sb-title">Find us on Facebook</h4>
 
					</div>
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
					 			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

